goods-1.0.xsd

<xs:schema xmlns:tns="http://suppliers.rde.lv/api/v1/goods" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://suppliers.rde.lv/api/v1/goods" elementFormDefault="qualified">

  <xs:simpleType name="String65">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="65"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CountryType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="EanType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{8,25}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="SizeType">
	<xs:restriction base="xs:string">
	  <xs:pattern value="[0-9]+x[0-9]+x[0-9]+"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CNType">
	<xs:restriction base="xs:string">
	  <xs:pattern value="[0-9]{8}"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="UTCDateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ProductType">
	  <xs:all>
		<xs:element name="id" type="xs:string" minOccurs="1"/>
		<xs:element name="category" type="tns:String65" minOccurs="1"/>
		<xs:element name="brand" type="tns:String65" minOccurs="1"/>
		<xs:element name="country" type="tns:CountryType" minOccurs="0" nillable="true"/>
		<xs:element name="sku" type="xs:string" minOccurs="1"/>
		<xs:element name="ean" type="tns:EanType" minOccurs="1"/>
		<xs:element name="name" type="tns:String65" minOccurs="1"/>
		<xs:element name="quantity" type="xs:nonNegativeInteger" minOccurs="1"/>
		<xs:element name="price" type="xs:positiveInteger" minOccurs="1"/>
		<xs:element name="currency" type="tns:CurrencyType" minOccurs="0"/>
		<xs:element name="cost" type="xs:positiveInteger" minOccurs="0"/>
		<xs:element name="weight" type="xs:nonNegativeInteger" minOccurs="0"/>
		<xs:element name="weight_brutto" type="xs:nonNegativeInteger" minOccurs="0"/>
		<xs:element name="size" type="tns:SizeType" minOccurs="0"/>

		<xs:element name="images" minOccurs="0">
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="img" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>

		<xs:element name="delivery" type="xs:nonNegativeInteger" minOccurs="0"/>
		<xs:element name="desc" type="xs:string" minOccurs="0"/>
		<xs:element name="intrastat" type="tns:CNType" minOccurs="0"/>
	  </xs:all>
  </xs:complexType>

  <xs:complexType name="ProductsType">
    <xs:sequence>
      <xs:element name="product" type="tns:ProductType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="version" type="xs:string" fixed="1.0" minOccurs="0"/>
      <xs:element name="created_at" type="tns:UTCDateTime" minOccurs="0"/>
      <xs:element name="total_count" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="metadata" type="tns:MetadataType" minOccurs="0"/>
        <xs:element name="products" type="tns:ProductsType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
	
	<xs:unique name="uniqueProductId">
		<xs:selector xpath="tns:products/tns:product"/>
		<xs:field xpath="tns:id"/>
	</xs:unique>

	<xs:unique name="uniqueProductSku">
		<xs:selector xpath="tns:products/tns:product"/>
		<xs:field xpath="tns:sku"/>
	</xs:unique>

	<xs:unique name="uniqueProductEan">
		<xs:selector xpath="tns:products/tns:product"/>
		<xs:field xpath="tns:ean"/>
	</xs:unique>
  </xs:element>

</xs:schema>